{% extends 'base.html' %}

{% block content %}
<br><br>
<h1 class="header center orange-text">Signup Form</h1>
<div class="row center card">
  <form method="post" action="{% url 'signup' %}" class="card-content">
    {% csrf_token %}
    {% include './includes/_signup.html' %}

    <div class="row">
      <input type="submit" class="btn" value="sign up">
      <input type="hidden" name="next" value="{{ next }}">
    </div>
  </form>

  {% if form.errors %}
  {% for field in form %}
  {% for error in field.errors %}
  <p>{{ error }}</p>
  {% endfor %}
  {% endfor %}
  {% endif %}
</div>
{% endblock %}
