{% extends 'base.html' %}

{% block content %}
<br><br>
<h1 class="header center orange-text">Task list</h1>
<div class="row center">
  <a href="/todo/new" class="btn">Create</a>
  <table>
    <thead>
    <tr>
      <th width="40%">state</th>
      <th width="40%">name</th>
      <th width="10%"></th>
      <th width="10%"></th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
    <tr>
      <td>{{ task.name }}</td>
      <td>{{ task.state }}</td>
      <td><a href="/todo/{{ task.id }}/edit" class="btn">Edit</a></td>
      <td><a href="/todo/{{ task.id }}/delete" class="btn red">Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
