{% extends 'base.html' %}

{% block content %}
<br><br>
<h1 class="header center orange-text">New Task</h1>
<div class="row center">
  <form action="/todo/create" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="row">
        <div class="input-field col s12">
          <input id="name" name="name" type="text" class="validate">
          <label for="name">Name</label>
        </div>
        <div class="input-field col s12">
          <input id="state" name="state" type="text" class="validate">
          <label for="state">State</label>
        </div>
        <button type="submit" class="btn">Submit</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
